# Local files
/local

# Eclipse, Netbeans and IntelliJ files
/.*
!.gitignore
!.gitattributes
!.htaccess
/nbproject
/*.ipr
/*.iws
/*.iml

# Repository wide ignore mac DS_Store files
.DS_Store

# JBake files
/output

# Awestruct files
!.awestruct_ignore
/_site
/_tmp
/.awestruct
/.sass-cache
/Gemfile.lock
