---
priority: 0.0
change_frequency: monthly
---
!!! 5
%html{:lang => page.lang ? page.lang : site.lang}
  %head
    -# Adobe Analytics for Red Hat - DPAL (DTM Property Auto-Loader) - part 1/2
    :plain
      <script id="dpal" src="https://www.redhat.com/dtm.js" type="text/javascript"></script>
    -# Google Analytics for kie team: Global site tag (gtag.js)
    :plain
      <script async src="https://www.googletagmanager.com/gtag/js?id=#{site.googleAnalyticsId}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '#{site.googleAnalyticsId}');
      </script>
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %title #{escape_once(site.title + " - 404 Page not found")}

  %body
    %h1 The requested page does not exist
    %p
      If this is an issue in our website,
      %a{:href => "#{site.canonicalBaseUrl}/community/getHelp.html"} please let us know
      (including the URL which led you here) and we'll fix it.
    %p
      %a{:href => site.canonicalBaseUrl} Return to the website.

    -# Adobe Analytics for Red Hat - DPAL (DTM Property Auto-Loader) - part 2/2
    :plain
      <script type="text/javascript">
        if (("undefined" !== typeof _satellite) && ("function" === typeof _satellite.pageBottom)) {
          _satellite.pageBottom();
        }
      </script>
