---
title: What is OptaPlanner?
layout: base
---

.alert
  %button.close(type="button" data-dismiss="alert") &times;
  Announcement:
  %a(href="community/droolsPlannerRenamed.html") Drools Planner has been renamed to OptaPlanner.

.hero-unit.pagination-centered(style="padding: 10px; margin-bottom: 20px;")
  .carousel.slide#whatIsCarousel(style="margin: 0;")
    .carousel-inner(style="align: center;")
      .item.active
        %img(src="landingPage/useCaseOverview.png" alt="Use case overview")
      .item
        %img(src="landingPage/vehicleRoutingUseCase.png" alt="Vehicle routing use case")
      .item
        %img(src="landingPage/employeeShiftRosteringUseCase.png" alt="Employee shift rostering use case")
      .item
        %img(src="landingPage/inputOutputOverview.png" alt="Input output overview")
      .item
        %img(src="landingPage/curriculumCourseClassDiagram.png" alt="Course scheduling class diagram")
      .item
        %img(src="landingPage/scalable.png" alt="Scalability")
      .item
        %img(src="landingPage/compatibility.png" alt="Compatibility")
    %a.carousel-control.left(href="#whatIsCarousel" data-slide="prev")& &lsaquo;
    %a.carousel-control.right(href="#whatIsCarousel" data-slide="next")& &rsaquo;

:markdown
  **OptaPlanner optimizes business resource usage.** Every organization faces planning problems: provide products or
  services with a limited set of *constrained* resources (employees, assets, time and money). OptaPlanner optimizes such
  planning to do more business with less resources.

  OptaPlanner is a lightweight, embeddable planning engine written in Java™. It helps normal Java™ programmers solve
  constraint satisfaction problems efficiently. Under the hood, it combines optimization heuristics and metaheuristics
  with very efficient score calculation.

  *OptaPlanner is open source software, released under [the Apache Software License](code/license.html). It is 100% pure
  Java™, runs on any JVM and is available in [the Maven Central Repository](download/download.html) too.*

.row-fluid
  .span6
    .hero-unit(style="padding: 10px; margin-bottom: 10px;")
      .pagination-centered<
        %a.btn.btn-large.btn-success(href="#{site.pom.latestFinal.distributionZip}")<
          %img(src = "download/download.png")
          Download OptaPlanner #{site.pom.latestFinal.version}
      :markdown
        ### Try the examples now

        * Download the zip and unzip it
        * On Linux/Mac, run `examples/runExamples.sh`
        * On Windows, run `examples/runExamples.bat`

  .span6
    .hero-unit(style="padding: 10px; margin-bottom: 10px;")
      .pagination-centered<
        %a.btn.btn-large.btn-primary(href="#{site.pom.latestFinal.documentationHtmlSingle}")<
          %img(src = "learn/documentation.png")
          Read documentation #{site.pom.latestFinal.version}
      :markdown
        ### Get started

        * Open the documentation
        * Read the **Quick Start** chapter
