---
layout: base
title: What is OptaPlanner?
---

.hero-unit.pagination-centered(style="padding: 5px;")
  %p What is OptaPlanner?
  .carousel.slide#whatIsCarousel
    .carousel-inner
      .item.active
        %a(href="#")
          %img(src="./landingPage/employeeShiftRosteringUseCase.png" alt="Employee Shift Rostering use case")
      .item
        %a(href="#")
          %img(src="./landingPage/employeeShiftRosteringHardConstraints.png" alt="Employee Shift Rostering hard constraints")
      .item
        %a(href="#")
          %img(src="./landingPage/employeeShiftRosteringSoftConstraints.png" alt="Employee Shift Rostering soft constraints")
      .item
        %a(href="#")
          %img(src="landingPage/curriculumCourseClassDiagram.png" alt="Course scheduling use case")
      .item
        %a(href="#")
          %img(src="landingPage/machineReassignmentBestScoreScalabilitySummaryLevel1.png" alt="Best score scalability")
    %a.carousel-control.left(href="#whatIsCarousel" data-slide="prev")& &lsaquo;
    %a.carousel-control.right(href="#whatIsCarousel" data-slide="next")& &rsaquo;

.row-fluid
  .span6
    %p.pagination-centered<
      %a.btn.btn-large.btn-success(href="http://download.jboss.org/drools/release/5.5.0.Final/drools-planner-distribution-5.5.0.Final.zip") Download OptaPlanner 5.5.0.Final

  .span6
    %p.pagination-centered<
      %a.btn.btn-large.btn-primary(href="http://docs.jboss.org/drools/release/5.5.0.Final/drools-planner-docs/html_single/index.html") Read documentation 5.5.0.Final
