---
title: XSD files
description: A list of all OptaPlanner's XSD schema files.
layout: normalBase
priority: 0.1
---
%h1 #{page.title}
%ul
  - for file in Dir.entries("xsd/optaplanner").sort
    - if file.end_with? ".xsd"
      %li(style="margin-top: 10px;")
        %a{:href => file}
          #{file}
