---
layout: base
style: community
title: OptaPlanner
---

%h1 OptaPlanner

%blockquote
  %p Do more business with less resources

.hero-unit.pagination-centered
  %h2 What is OptaPlanner?
  .carousel.slide#whatIsCarousel
    .carousel-inner
      .item.active
        %a(href="#")
          %img(src="./carousel/employeeShiftRosteringUseCase.png" alt="Employee Shift Rostering use case")
      .item
        %a(href="#")
          %img(src="./carousel/employeeShiftRosteringHardConstraints.png" alt="Employee Shift Rostering hard constraints")
      .item
        %a(href="#")
          %img(src="./carousel/employeeShiftRosteringSoftConstraints.png" alt="Employee Shift Rostering soft constraints")
      .item
        %a(href="#")
          %img(src="carousel/curriculumCourseClassDiagram.png" alt="Course scheduling use case")
      .item
        %a(href="#")
          %img(src="carousel/machineReassignmentBestScoreScalabilitySummaryLevel1.png" alt="Best score scalability")
    %a.carousel-control.left(href="#whatIsCarousel" data-slide="prev")& &lsaquo;
    %a.carousel-control.right(href="#whatIsCarousel" data-slide="next")& &rsaquo;

.row-fluid
  .span6
    %p<
      %a.btn.btn-large.btn-success(href="http://download.jboss.org/drools/release/5.5.0.Final/drools-planner-distribution-5.5.0.Final.zip") Download OptaPlanner 5.5.0.final

  .span6
    %p<
      %a.btn.btn-large.btn-primary(href="http://docs.jboss.org/drools/release/5.5.0.Final/drools-planner-docs/html_single/index.html") Read documentation
