---
layout: base
style: community
title: OptaPlanner
---

%h1 OptaPlanner

%blockquote
  %p Do more business with less resources

.hero-unit.pagination-centered
  %h2 What is OptaPlanner?
  %p
    Do more business with less resources

.row-fluid
  .span6
    %p<
      %a.btn.btn-large.btn-success(href="http://download.jboss.org/drools/release/5.5.0.Final/drools-planner-distribution-5.5.0.Final.zip") Download OptaPlanner 5.5.0.final

  .span6
    %p<
      %a.btn.btn-large.btn-primary(href="http://docs.jboss.org/drools/release/5.5.0.Final/drools-planner-docs/html_single/index.html") Read documentation
