.panel.panel-default
  .panel-heading Latest blog posts
  .panel-body
    %ul.list-unstyled
      - for post in site.posts[0,7]
        %li(style="margin-bottom: 10px;")
          .title
            %a{:href => relative(post.url, page.outputPage)}
              = post.title
          .small
            = post.date.strftime('%a %-d %B %Y')
          = partial('userBadge.html.haml', :outputPage => page, :userId => post.author, :mode => 'inline')
    .small.pull-right
      %a{:href => relative("/blog/archive.html", page.outputPage)}
        Archive
