
.panel.panel-default
  .panel-heading Note for Red Hat Decision Manager customers
  .panel-body
    %p
      The RHDM version differs from the OptaPlanner version:
    %table.tableblock.frame-all.grid-all.spread
      %colgroup
        %col(style="width: 50%;")
        %col(style="width: 50%;")
      %thead
        %tr
          %th RHDM version
          %th OptaPlanner version
      %tbody
        %tr
          %td 7.7
          %td 7.33
        %tr
          %td 7.8
          %td 7.39
        %tr
          %td 7.9
          %td 7.44
