%table.tableblock.frame-all.grid-all.spread
  %colgroup
    %col(style="width: 50%;")
    %col(style="width: 50%;")
  %thead
    %tr
      %th BRMS / BPM Suite version
      %th OptaPlanner version
  %tbody
    %tr
      %td 6.0
      %td 6.0
    %tr
      %td 6.1
      %td 6.2
    %tr
      %td 6.2
      %td 6.3
    %tr
      %td 6.3
      %td 6.4
    %tr
      %td 6.4
      %td 6.5
