
.panel.panel-default
  .panel-heading Note for Red Hat customers
  .panel-body
    %p
      The BRMS / RHDM version does
      %strong NOT
      match the OptaPlanner version:
    %table.tableblock.frame-all.grid-all.spread
      %colgroup
        %col(style="width: 50%;")
        %col(style="width: 50%;")
      %thead
        %tr
          %th BRMS / RHDM version
          %th OptaPlanner version
      %tbody
        %tr
          %td 6.3
          %td 6.4
        %tr
          %td 6.4
          %td 6.5
        %tr
          %td 7.0
          %td 7.5
