.panel.panel-primary
  .panel-heading Paid support and consulting
  .panel-body
    %p
      %b Want to talk to the experts?
      Red Hat offers certified binaries with enterprise consulting.
      Contact
      %a.servicesMailAddress optaplanner-info
      for more information.
