%h2
  Previous upgrade recipe

%p
  If you aren't upgrading from the previous version of OptaPlanner ($previous),
  please read the
  %a(href="../upgradeRecipe/upgradeRecipe$previous.html") previous upgrade recipe
  \.

%h2
  Release notes

%p
  To view the changes in this version of OptaPlanner,
  just read
  %a(href="../releaseNotes/releaseNotes$version.html") the release notes
  \.

%h2
  Introduction

%p
  OptaPlanner's public API classes are backwards compatible,
  but you might be using not-yet-public API classes (which are often documented in the reference manual too).
  This file describes how can you upgrade those from an earlier version to the latest,
  as well as easily apply general recommended changes.

%p
  Every migration change has an indication how likely your code is going to be affected by this change:

%h2
  %i(class="fa fa-exclamation-circle")
  Major

%p
  Very likely affects your code.

%h2
  %i(class="fa fa-info-circle")
  Minor

%p
  Probably does not affect your code (especially if you followed the examples), unless you have hacks.

%h2
  %i(class="fa fa-user-secret")
  Implementation detail

%p
  Should not affect your code, unless you have very deep hacks.

%h2
  %i(class="fa fa-thumbs-up")
  Recommended

%p
  Not a backward incompatible change, but you probably want to do this.

%h2
  %i(class="fa fa-book")
  Readme

%p
  Read this to better understand why the following
  %i(class="fa fa-exclamation-circle")
  Major change was made.

%h2
  Important note for BRMS/BPMS customers

%p
  The BRMS/BPMS version does
  %strong NOT
  match the optaplanner jar version.
  The sections below reference the optaplanner jar version. The mapping is as follows:

  %ul
    %li
      BRMS/BPMS 6.0 includes drools/optaplanner 6.0
    %li
      BRMS/BPMS 6.1 includes drools/optaplanner 6.2

  So if you're upgrading to BRMS 6.1, follow the recipe to upgrade to 6.2.0.Final.
