%h2
  Previous upgrade recipe

%p
  If you aren't upgrading from the previous version of OptaPlanner (#{page.upgrade_recipe_previous_version}),
  please read the
  %a(href="../upgradeRecipe/upgradeRecipe#{page.upgrade_recipe_previous_version}.html") previous upgrade recipe
  \.

%h2
  Release notes

%p
  To view the changes in this version of OptaPlanner,
  just read
  %a(href="../releaseNotes/releaseNotes#{page.upgrade_recipe_version}.html") the release notes
  \.

%h2
  Introduction

%p
  OptaPlanner's public API classes are backwards compatible,
  but you might be using not-yet-public API classes (which are often documented in the reference manual too).
  This file describes how can you upgrade those from an earlier version to the latest,
  as well as easily apply general recommended changes.

%p
  Every migration change has an indication how likely your code is going to be affected by this change:

%ul.upgrade-recipe-label-list
  %li
    %span.label.label-danger.label-as-badge Major
    Likely to affect your code.
  %li
    %span.label.label-warning.label-as-badge Minor
    Unlikely to affect your code (especially if you followed the examples), unless you have hacks.
  %li
    %span.label.label-info.label-as-badge Impl detail
    Will not affect your code, unless you have very deep hacks.
  %li
    %span.label.label-primary.label-as-badge Recommended
    Not a backward incompatible change, but you probably want to do this.
  %li
    %span.label.label-success.label-as-badge Readme
    Read this to better understand why the subsequent major changes were made.

%h2
  Important note for BRMS/BPMS customers

%p
  The BRMS/BPMS version does
  %strong NOT
  match the optaplanner jar version.
  The sections below reference the optaplanner jar version. The mapping is as follows:

  %ul
    %li
      BRMS/BPMS 6.0 includes drools/optaplanner 6.0
    %li
      BRMS/BPMS 6.1 includes drools/optaplanner 6.2

  So if you're upgrading to BRMS 6.1, follow the recipe to upgrade to 6.2.0.Final.
