@charset "UTF-8";

/* Copied from template.html everything between the first <style> */

/*
    Only use tango colors:

    CHAMELEON_1: #8AE234
    CHAMELEON_2: #73D216
    CHAMELEON_3: #4E9A06
    BUTTER_1: #FCE94F
    BUTTER_2: #EDD400
    BUTTER_3: #C4A000
    SKY_BLUE_1: #729FCF
    SKY_BLUE_2: #3465A4
    SKY_BLUE_3: #204A87
    CHOCOLATE_1: #E9B96E
    CHOCOLATE_2: #C17D11
    CHOCOLATE_3: #8F5902
    PLUM_1: #AD7FA8
    PLUM_2: #75507B
    PLUM_3: #5C3566

    SCARLET_1: #EF2929
    SCARLET_2: #CC0000
    SCARLET_3: #A40000
    ORANGE_1: #FCAF3E
    ORANGE_2: #F57900
    ORANGE_3: #CE5C00

    ALUMINIUM_1: #EEEEEC
    ALUMINIUM_2: #D3D7CF
    ALUMINIUM_3: #BABDB6
    ALUMINIUM_4: #888A85
    ALUMINIUM_5: #555753
    ALUMINIUM_6: #2E3436
*/

html, .view body {
    background-color: white;
    counter-reset: slideidx;
}

body, .view section {
    background-color: white;
    border-radius: 12px;
}

/* A section is a slide. It's size is 800x600, and this will never change */
section, .view head > title {
    /* The font from Google */
    font-family: 'Oswald', arial, serif;
    font-size: 30px;
}

.view section:after {
    counter-increment: slideidx;
    content: counter(slideidx, decimal-leading-zero);
    position: absolute;
    bottom: -80px;
    right: 100px;
    color: white;
}

.view head > title {
    color: white;
    text-align: center;
    margin: 1em 0 1em 0;
}

h1, h2 {
    margin: 50px 0 50px 0;
    text-align: center;
    font-size: 50px;
}

h3 {
    margin: 20px 0 20px 0;
    text-align: center;
    font-size: 40px;
}

h4 {
    margin: 20px 0 20px 0;
    text-align: center;
    font-size: 36px;
}

.leftColumn {
    float: left;
    width: 50%;
}
.rightColumn {
    float: right;
    width: 50%;
}

p {
    margin: 10px 20px;
    font-size: 32px;
}

.smaller-p-text {
    font-size: 36px;
}

.demo {
    margin: 100px 0;
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
}

.math {
    margin: 20px 0;
    font-size: 22px;
    font-family: monospace;
}

.attribution {
    margin: 5px 0;
    text-align: center;
    font-size: 10px;
    color: #BABDB6;
}

section > img {
    width: 100%;
    height: 100%;
}

figure {
    margin: 20px 20px;
}

figure > img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    /*max-height: 70%;*/
    max-height: 420px;
}

figure > p {
    margin: 5px 0;
    text-align: center;
    font-size: 24px;
}

ul {
    margin: 10px 20px;
    font-size: 32px;
}

ul ul {
    margin: 0;
    font-size: 28px;
}

li {
    margin: 0 0 0 30px;
}

table {
    width: 100%;
    margin: 0;
    padding: 0;
}
thead {
    margin: 0;
    padding: 0;
}
th {
    margin: 0;
    border-bottom: thin solid black;
    padding: 5px 10px;
    text-align: center;
}
tbody {
    margin: 0;
    padding: 0;
}
tr {
    margin: 0;
    padding: 0;
}
td {
    margin: 0;
    padding: 5px 10px;
    text-align: right;
}

blockquote {
    height: 100%;
    background-color: white;
    color: white;
    font-size: 60px;
    padding: 50px;
}

blockquote:before {
    content: open-quote;
}

blockquote:after {
    content: close-quote;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 40px;
    text-align: right;
    background-color: #D3D7CF;
    border: 1px solid #555753;
}

/* Transition effect */
/* Feel free to change the transition effect for original
animations. See here:
https://developer.mozilla.org/en/CSS/CSS_transitions
How to use CSS3 Transitions: */
section {
    -moz-transition: left 400ms linear 0s;
    -webkit-transition: left 400ms linear 0s;
    -ms-transition: left 400ms linear 0s;
    transition: left 400ms linear 0s;
}

.view section {
    -moz-transition: none;
    -webkit-transition: none;
    -ms-transition: none;
    transition: none;
}

.view section[aria-selected] {
    border: 5px red solid;
}

/* Before */
section {
    left: -150%;
}

/* Now */
section[aria-selected] {
    left: 0;
}

/* After */
section[aria-selected] ~ section {
    left: 150%;
}

/* Incremental elements */

/* By default, visible */
.incremental > * {
    opacity: 1;
}

/* The current item */
.incremental > *[aria-selected] {
    opacity: 1;
}

/* The items to-be-selected */
.incremental > *[aria-selected] ~ * {
    opacity: 0;
}

/* The progressbar, at the bottom of the slides, show the global
progress of the presentation. */
#progress-bar {
    height: 2px;
    background: #D3D7CF;
}

.immediate {
    -moz-transition: left 0ms linear 0s;
    -webkit-transition: left 0ms linear 0s;
    -ms-transition: left 0ms linear 0s;
    transition: left 0ms linear 0s;
}

/* Fix dzslides vs Twitter bootstrap problem */
body, h1, h2, h3, h4, h5, li, pre, code {
    line-height: normal;
}
pre, code {
    font-size: 20px;
}
.callout {
    text-align: center;
    vertical-align: middle;
}
