---
title: Use cases
description: A list of use cases for constraints solvers like OptaPlanner
layout: normalBase
priority: 0.2
---
%h1 #{page.title}

:asciidoc
  == Value proposals

  * link:cloudOptimization.html[Cloud optimization]
  * link:employeeRostering.html[Employee rostering]
  * link:vehicleRoutingProblem.html[Vehicle routing]
  * link:taskAssignmentOptimization.html[Task assignment optimization]

= partial('demoVideos.html.haml', :outputPage => page)
