---
title: Blog archive
description: A list of all posts on this blog.
layout: blogBase
priority: 0.1
---
%h1 #{page.title}
%ul
  - for post in site.posts
    - if !post.hidden
      %li(style="margin-top: 10px;")
        %a{:href => relative(post.url)}
          = post.title
        .small
          = post.date.strftime('%a  %-d %B %Y')
        = partial('userBadge.html.haml', :outputPage => page, :userId => post.author, :mode => 'inline')
:asciidoc
  For older posts, see http://blog.athico.com/search/label/planner[the old blog].
