---
title: Blog
layout: blogBase
---
%h1 #{page.title}
- for post in page.posts
  -# Trick to make images work from blog posts work for the aggregator blog page
  - default_imagesdir = site.asciidoctor.attributes['imagesdir']
  - site.asciidoctor.attributes['imagesdir'] = relative(Pathname.new(post.output_path).parent.to_s)
  = partial('blogPostBody.html.haml', :outputPage => page, :post => post)
  - site.asciidoctor.attributes['imagesdir'] = default_imagesdir
  %hr(style = "border-color: #000;")
%ul.pager
  %li.previous{:class => ('disabled' unless page.posts.next_page)}
    %a{:href => (page.posts.next_page ? page.posts.next_page.url : '#')}
      %span.glyphicon.glyphicon-chevron-left
      Older
  %li.pages #{page.posts.current_page_index + 1} / #{page.posts.pages.size}
  %li.next{:class => ('disabled' unless page.posts.previous_page)}
    %a{:href => (page.posts.previous_page ? page.posts.previous_page.url : '#')}
      Newer
      %span.glyphicon.glyphicon-chevron-right
