Redirect 301 /download/releaseNotes/releaseNotes7.0.html https://www.optaplanner.org/download/releaseNotes/releaseNotes7.html
Redirect 301 /download/releaseNotes/releaseNotes7.1.html https://www.optaplanner.org/download/releaseNotes/releaseNotes7.html
Redirect 301 /download/releaseNotes/releaseNotes7.2.html https://www.optaplanner.org/download/releaseNotes/releaseNotes7.html
Redirect 301 /download/releaseNotes/releaseNotes7.3.html https://www.optaplanner.org/download/releaseNotes/releaseNotes7.html
Redirect 301 /download/releaseNotes/releaseNotes7.4.html https://www.optaplanner.org/download/releaseNotes/releaseNotes7.html
Redirect 301 /download/releaseNotes/releaseNotes7.5.html https://www.optaplanner.org/download/releaseNotes/releaseNotes7.html
Redirect 301 /download/releaseNotes/releaseNotes7.6.html https://www.optaplanner.org/download/releaseNotes/releaseNotes7.html
