---
layout: base
---
.container
  .row
    .col-md-9
      ~ content
    .col-md-3
      .jumbotron(style="padding: 10px; margin-bottom: 10px;")
        .text-center<
          %a.btn.btn-default.btn-lg(type="button" style="margin-top: 10px;"){:href => relative("/blog/news.atom")}
            %img{:src => relative("/headerFooter/atomFeedIcon.png"), :alt => 'Atom'}
            News feed
          .small(style="margin-top: 10px;")
            %span Don't want to miss a single blog post?
            %br
            %span Follow us on
          %ul.list-inline
            %li<
              %a(href="https://plus.google.com/+OptaPlannerOrg" rel="publisher" target="_blank" title="News stream via Google+")<
                %img{:src => relative("/headerFooter/googlePlusLogo.png"), :alt => "G+"}
            %li<
              %a(href="https://twitter.com/optaplanner" target="_blank" title="News stream via Twitter")<
                %img{:src => relative("/headerFooter/twitterLogo.png"), :alt => "T"}
            %li<
              %a(href="https://www.facebook.com/OptaPlanner" target="_blank" title="News stream via Facebook")<
                %img{:src => relative("/headerFooter/facebookLogo.png"), :alt => "Fb"}
          %nav
            %h2 Latest blog posts
            %ul.list-unstyled
              - for post in site.posts[0,7]
                %li(style = "margin-top: 10px;")
                  .title
                    %a{:href => relative(post.url)}
                      = post.title
                  .small
                    = post.date.strftime('%-d %B %Y')
          %a.btn.btn-default(type="button" style="margin-top: 10px;"){:href => relative("/blog/archive.html")}
            Blog archive

