---
layout: blogBase
---
- page.description = html_to_text(page.content).split("\n").first if !page.description

= partial('blogPostBody.html.haml', :outputPage => page, :post => page, :include_comments => true)
%ul.pager
  %li.previous{:class=>('disabled' unless page.previous_post)}
    %a{:href=>page.previous_post ? page.previous_post.url : '#'} &laquo; Previous
  %li.pages Post #{site.posts.size - site.posts.index(page)} of #{site.posts.size}
  %li.next{:class=>('disabled' unless page.next_post)}
    %a{:href=>page.next_post ? page.next_post.url : '#'} Next &raquo;
