---
layout: blogBase
---
- page.description = html_to_text(page.content).split("\n").first if !page.description

= partial('blogPostBaseNavigation.html.haml', :outputPage => page, :post => page)
= partial('blogPostBody.html.haml', :outputPage => page, :post => page, :include_comments => true)
.comments
  %a(name = 'comments')
  = page.disqus_comments
= partial('blogPostBaseNavigation.html.haml', :outputPage => page, :post => page)
