---
layout: base
---
.row
  .col-md-9
    ~ content
  .col-md-3
    = partial('latestReleases.html.haml', :outputPage => page)
    = partial('events.html.haml', :outputPage => page)
    = partial('latestBlogPosts.html.haml', :outputPage => page)
    = partial('latestVideos.html.haml', :outputPage => page)
