---
layout: normalBase
---
-#- page.disqus_identifier = page.url
~ content
.comments
  %a(name = 'comments')
  %h2 Comments
  %a.btn.btn-default(href="#{site.googleGroupURL}" style="margin-left: 20px")<
    Visit our forum to comment
  -#= page.disqus_comments
