---
layout: normalBaseWithComments
---
%h1
  #{page.title}
:asciidoc
  [.summaryParagraph]
  *OptaPlanner's public API classes are backwards compatible* (per series),
  but users often also use impl classes (which are documented in the reference manual too).
  This upgrade recipe _minimizes the pain_ to upgrade your code
  and to take advantage of link:../releaseNotes/releaseNotes#{page.upgrade_recipe_version}.html[the newest features in OptaPlanner #{page.upgrade_recipe_version}].

.row
  .col-md-7
    %h2(style="margin-top: 0px;") Legend
    %p Every upgrade note has an indication how likely your code will be affected by that change:
    %ul.upgrade-recipe-label-list
      %li
        %span.label.label-danger.label-as-badge Major
        Likely to affect your code.
      %li
        %span.label.label-warning.label-as-badge Minor
        Unlikely to affect your code (especially if you followed the examples), unless you have hacks.
      %li
        %span.label.label-info.label-as-badge Impl detail
        Will not affect your code, unless you have very deep hacks.
      %li
        %span.label.label-primary.label-as-badge Recommended
        Not a backward incompatible change, but you probably want to do this.
      %li
        %span.label.label-success.label-as-badge Readme
        Read this to better understand why the subsequent major changes were made.

    :asciidoc
      == Upgrade from an older version

      To upgrade from an older version, first apply link:./[the previous upgrade recipes].

  .col-md-5
    = partial('productToProjectVersionMapping.html.haml', :outputPage => page)

~ content
